<div class="container">

  <div class="page-header">
    <h1>ユーザー一覧</h1>
  </div>
  <%= link_to(new_user_path, :class=>"btn btn-primary btn-large") do %>
    <i class="icon-plus icon-white"></i> ユーザー登録
  <% end %>　

  <br/>
  <br/>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width: 20%">ユーザーID</th> 
        <th style="width: 20%">所属部署</th> 
        <th style="width: 15%">権限</th> 
        <th style="width: 15%"></th> 
        <th style="width: 15%"></th> 
        <th style="width: 15%"></th> 
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="font-size:18px;vertical-align:middle;padding-left:20px;"><%=user.username %></td> 

        <% if user.department %>
          <td style="font-size:18px;vertical-align:middle;padding-left:20px;"><%=user.department.name %></td> 
        <% elsif %>
          <td></td> 
        <% end %>

        <% if user.admin  %>
            <td style="font-size:18px;vertical-align:middle;padding-left:20px;">管理者</td>
        <% else %>
            <td style="font-size:18px;vertical-align:middle;padding-left:20px;">一般</td>
        <% end %>

        <td style="text-align:center;">
          <%= link_to(edit_user_path(user), :class=>"btn btn-primary btn-large") do %>
            <i class="icon-edit icon-white"></i> 編集
          <% end %>
        </td>

        <td style="text-align:center;">
          <%= link_to(user_path(user), 
                      { :method => :delete, :confirm => "削除してよろしいですか？",
                       :class=>"btn btn-primary btn-large"
                      }) do %>
            <i class="icon-trash icon-white"></i> 削除
          <% end %>
        </td>

        <% if user.admin  %>
          <td style="text-align:center;">
            <%= link_to(remove_admin_user_path(user), :class=>"btn btn-primary btn-large") do %>
              <i class="icon-minus icon-white"></i> 管理者
            <% end %>
          </td>
        <% else %>
          <td style="text-align:center;">
            <%= link_to(make_admin_user_path(user), :class=>"btn btn-primary btn-large") do %>
              <i class="icon-plus icon-white"></i> 管理者
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br />
</div>
