
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">AERO</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">HOME</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  </br>

  <div class="container">
    <div class="row">
      <div class="side-unit span3" id="sidebar" style="padding:10px;"><br/>
        ユーザーID
        <%= f.text_field :username %></br>
        パスワード
        <%= f.password_field :password %></br>
        <input class="btn btn-primary" type="submit" value="ログイン">
        <% if devise_mapping.rememberable? -%>
          　<%= f.check_box :remember_me %> 保存する
        <% end -%>
        <% users = User.all %>
        <% if users.size == 0 %>
          <br/>
          <%= render :partial => "devise/shared/links" %>
        <% end %>
      </div>
      <div class="main-unit span8" id="sidebar" style="padding-left:50px;" align="left">
        <img src="/images/aero.jpg" width="" />
      </div>
    </div>
  </div>

<% end %>

