
<div class="row">
  <div class="span7">
    
    <% if request.path_info.index("edit") != nil %>
      <%= link_to(product_path(@product), :class=>"btn btn-primary btn-large") do %>
        <i class="icon-circle-arrow-left icon-white"></i> 詳細に戻る
      <% end %>　
    <% end %>
    <%= link_to(products_path, :class=>"btn btn-primary btn-large") do %>
      <i class="icon-circle-arrow-left icon-white"></i> 一覧に戻る
    <% end %>

    <br/>
    <br/>

    <%= form_for(@product, :html => {:multipart => true, :class => 'form-horizontal well'}) do |f| %>

      <fieldset>

        <div class="control-group">
          <legend>商品情報を入力してください。</legend>
          <label class="control-label" for="input01">商品名</label>
          <div class="controls">
            <%= f.text_field :name, {:class=>"input-xlarge"} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">価格</label>
          <div class="controls">
            <%= f.text_field :price, {:class=>"input-xlarge"} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">分類</label>
          <div class="controls">
            <%= f.text_field :classify, {:class=>"input-xlarge"} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">コメント</label>
          <div class="controls">
            <%= f.text_area :comment, {:class=>"input-xlarge", :rows=>"3"} %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">商品画像</label>
          <div class="controls">
            <%#= f.file_field :pict %>
            <%= f.file_field :photo %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="optionsCheckbox">部署</label>
          <div class="controls">
            <% @departments.each do |department| %>
              <% @product.departments.each do |d| %>
                <% @checked = false %>
                <% if department.id.to_s == d.department_id.to_s %>
                  <% @checked = true %>
                  <% break %>
                <% end %>
              <% end %>
              <label class="checkbox">
                <%= check_box_tag("department_param[]", department.id, @checked) %><%= department.name%>　
              </label>
            <% end %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="optionsCheckbox">カテゴリ</label>
          <div class="controls">
            <% @categories.each do |category| %>
              <% @product.categories.each do |c| %>
                <% @checked = false %>
                <% if category.id.to_s == c.category_id.to_s %>
                  <% @checked = true %>
                  <% break %>
                <% end %>
              <% end %>
              <label class="radio">
                <%=radio_button_tag :category_param, category.id, @checked %><%=category.name%>　
              </label>
            <% end %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit '　登　録　', {:class=>"btn btn-primary"} %>
        </div>

      </fieldset>

    <% end %>
  </div>
</div>
