<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <label>Department_name</label><br />
  <% @departments.each do |department| %>
  <%   if department.id == @product.department_id %>
    <input type="radio" checked="true" name="department_id" id="<%= department.name %>" value="<%= department.id %>"><%= department.name%></input>
  <%   else %>
    <input type="radio" name="department_id" id="<%= department.name %>" value="<%= department.id %>"><%= department.name%></input>
  <%   end %>
  <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
