

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">部署</li>
              <% if @selected_department_id.to_s == "0" %>
                <li class="active"><%=link_to 'すべて', findall_products_path %></li>
              <% else %>
                <li><%=link_to 'すべて', findall_products_path %></li>
              <% end %>
            <% @departments.each do |dep| %>
              <% if @selected_department_id.to_s == dep.id.to_s %>
                <li class="active"><%=link_to dep.name, belong_product_path(dep.id)%></li>
              <% else %>
                <li class=""><%=link_to dep.name, belong_product_path(dep.id)%></li>
              <% end %>
            <% end %>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->

      <div class="span9">
        <div class="row-fluid">
          <p>
            <% if current_user.try(:admin?) %>
              <a class="btn btn-primary btn-large" href="<%=new_product_path %>">商品登録</a>
            <% else %>
              <a class="btn btn-primary btn-large disabled" href="">商品登録</a>
            <% end %>
            <%= link_to "一覧印刷", {:contoroller=>"product", :action=>"download", 
                                      :selected_department_id=>@selected_department_id,
                                      :search_string=>@search_string}, :class=>"btn btn-primary btn-large" %>
          </p>

          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">全カテゴリ</a></li>
              <% i = 1 %>
              <% @categories.each do |category| %>
              <% i += 1 %>
                <li class=""><a href="#tab<%=i%>" data-toggle="tab"><%=category.name%></a></li>
              <% end %>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <% if @products.size > 0 %>
                <div class="span12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="width: 15%"></th> 
                      <th style="width: 50%">商品名</th> 
                      <th style="width: 15%">価格</th> 
                      <th style="width: 20%">分類</th> 
                    </tr>
                  </thead>
                  <tbody>
                  <% @products.each do |product| %>
                    <tr onclick="location.href='<%=product_path(product)%>'">
                      <td>
                        <div align="center">
                          <img src="<%= product.pictcode %>" widht="80px" height="60px">
                        </div>
                      </td> 
                      <td><%= product.name %></td> 
                      <td><%= product.price %></td> 
                      <td><%= product.classify %></td> 
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                </div>
                <% end %>
              </div><!--/tab-pane-->

              <% i = 1 %>
              <% @categories.each do |category| %>
                <% i += 1 %>

                <% @products_by_category = Array.new(0) %>
                <% @categories_products = CategoriesProducts.find_all_by_category_id(category.id) %>
                <% @categories_products.each do |cp| %>
                  <% product = Product.find(cp.product_id) %> 
                  <% @products.each do |p| %> 
                    <% if p.id == product.id %> 
                      <% @products_by_category << product %>
                      <% break %>
                    <% end %>
                  <% end %>
                <% end %>

                <div class="tab-pane" id="tab<%=i%>">
                  <% if @products_by_category.size > 0 %>
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th style="width: 15%"></th> 
                        <th style="width: 50%">商品名</th> 
                        <th style="width: 15%">価格</th> 
                        <th style="width: 20%">分類</th> 
                      </tr>
                    </thead>
                    <tbody>
                    <% @products_by_category.each do |product| %>
                      <% if current_user.try(:admin?) %>
                      <tr onclick="location.href='<%=product_path(product)%>'">
                      <% else %>
                      <tr>
                      <% end %>
                        <td>
                          <div align="center">
                            <img src="<%= product.pictcode %>" widht="80px" height="60px">
                          </div>
                        </td> 
                        <td><%= product.name %></td> 
                        <td><%= product.price %></td> 
                        <td><%= product.classify %></td> 
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                  <% end %>
                </div><!--/tab-pane-->
              <% end %>
            </div><!--/tab-content-->
          </div><!--/tabbable-->
        </div><!--/row-->
      </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
      <br/>
      <p>&copy; <%= link_to 'SAN-EI MEDSYS.CO.,LTD 2012', users_path %></p>
    </footer>


  </div><!--/.fluid-container-->

  <br/>
  <br/>


