<!DOCTYPE html>
<html>
<head>
  <title>AeroCore</title>
  <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js">
  </script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="<%=user_root_path%>">AERO</a>
        <% if current_user != nil %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%=current_user.username%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%=destroy_user_session_path%>">ログアウト</a></li>
            </ul>
          </div>

          <div class="nav-collapse">
            <ul class="nav">
              <% @product_active = "" %>
              <% @department_active = "" %>
              <% @category_active = "" %>
              <% @user_active = "" %>

              <% if request.path_info == products_path %>
                <% @product_active = "active" %>
              <% elsif request.path_info.index("department") != nil %>
                <% @department_active = "active" %>
              <% elsif request.path_info.index("categor") != nil %>
                <% @category_active = "active" %>
              <% elsif request.path_info.index("user") != nil %>
                <% @user_active = "active" %>
              <% end %>

              <li class="<%=@product_active%>"><a href="<%=user_root_path%>">商品一覧</a></li>

              <% if current_user.try(:admin?) %>
                <li class="<%=@department_active%>"><a href="<%=departments_path%>">部署管理</a></li>
                <li class="<%=@category_active%>"><a href="<%=categories_path%>">カテゴリ管理</a></li>
                <li class="<%=@user_active%>"><a href="<%=users_path%>">ユーザー管理</a></li>
              <% end %>

            </ul>

            <% if request.path_info.index("find") != nil || %>
            <%    request.path_info.index("belong") != nil || %>
            <%    request.path_info == products_path %>
              <% form_tag "/products/find", {:class=>"navbar-search"} do %>
                <%= text_field_tag :search_string, @search_string, {:placeholder=>'検索',:class => "search-query span2"} %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>

   <div class="container-fluid">
    <div class="row-fulid">
       <% if notice != nil %>
         <div class="alert alert-block">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           <h4 class="alert-heading"><%=notice%></h4>
         </div>
       <% elsif alert != nil %>
         <div class="alert alert-error">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           <h4 class="alert-heading"><%=alert%></h4>
         </div>
       <% end %>
    </div>
   </div>

  <%= yield %>

  <hr>
  <footer>
    <% users = User.all %>
    <% if users.size == 0 %>
      <p>　　&copy; <%= link_to 'SAN-EI MEDSYS.CO.,LTD 2012', users_path %></p>
    <% elsif %>
      <p>　　&copy; SAN-EI MEDSYS.CO.,LTD 2012</p>
    <% end %>
    <br/>
  </footer>

</body>
</html>
