<!DOCTYPE html>
<html>
<head>
  <title>AeroCore</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
  </script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
 <p class="notice"><%=notice  %>
 <p class="alert"><%=alert  %>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<%=user_root_path%>">AERO</a>
        <% if current_user != nil %>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%=current_user.username%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%=destroy_user_session_path%>">ログアウト</a></li>
            </ul>
          </div>

          <div class="nav-collapse">
            <ul class="nav">

            <% if request.path_info == products_path %>
              <li class="active"><a href="<%=user_root_path%>">商品一覧</a></li>
              <% if current_user.try(:admin?) %>
                <li><a href="<%=departments_path%>">部署管理</a></li>
                <li><a href="<%=categories_path%>">カテゴリ管理</a></li>
                <li><a href="<%=users_path%>">ユーザー管理</a></li>
              <% end %>
            <% end %>

            <% if request.path_info == departments_path %>
              <li><a href="<%=user_root_path%>">商品一覧</a></li>
              <% if current_user.try(:admin?) %>
                <li class="active"><a href="<%=departments_path%>">部署管理</a></li>
                <li><a href="<%=categories_path%>">カテゴリ管理</a></li>
                <li><a href="<%=users_path%>">ユーザー管理</a></li>
              <% end %>
            <% end %>

            <% if request.path_info == categories_path %>
              <li><a href="<%=user_root_path%>">商品一覧</a></li>
              <% if current_user.try(:admin?) %>
                <li><a href="<%=departments_path%>">部署管理</a></li>
                <li class="active"><a href="<%=categories_path%>">カテゴリ管理</a></li>
                <li><a href="<%=users_path%>">ユーザー管理</a></li>
              <% end %>
            <% end %>

            <% if request.path_info == users_path %>
              <li><a href="<%=user_root_path%>">商品一覧</a></li>
              <% if current_user.try(:admin?) %>
                <li><a href="<%=departments_path%>">部署管理</a></li>
                <li><a href="<%=categories_path%>">カテゴリ管理</a></li>
                <li class="active"><a href="<%=users_path%>">ユーザー管理</a></li>
              <% end %>
            <% end %>

            </ul>
            <form class="navbar-search" action="<%=search_products_path%>">
              <input type="text" class="search-query span2" placeholder="Search">
            </form>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
